<!DOCTYPE html><html lang="en"><head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
  </head>
  <body>   
    <h1>Oops 404 Not Found. Now Fuck Off</h1>

</body></html>