<!DOCTYPE html><html lang="en"><head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="utf-8">

</head>
<body>
  <h1>This is the results page</h1>
  <h2>Page under construction</h2>
 <script src="/resultSketch.js"></script>
</body></html>