<!DOCTYPE html><html lang="en"><head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="utf-8">

</head>
<body>
  <div id='allData' value='<%- JSON.stringify(allData) %>''></div>
  <p><%=allData%></p>   
 <!--<script src="/resultSketch.js"></script>-->
 <script>
    var allData = '<%- JSON.stringify(allData) %>';
    //console.log(allData);

 </script>

</body></html>